This text_blob note book uses this library to do a sentiment analysis on each file. Fortunately, they're all POSITIVE.

In [8]:
! pip install -U textblob

Collecting textblob
  Downloading textblob-0.17.1-py2.py3-none-any.whl (636 kB)
     ---------------------------------------- 0.0/636.8 kB ? eta -:--:--
      --------------------------------------- 10.2/636.8 kB ? eta -:--:--
      --------------------------------------- 10.2/636.8 kB ? eta -:--:--
     - ----------------------------------- 30.7/636.8 kB 220.2 kB/s eta 0:00:03
     -------- --------------------------- 143.4/636.8 kB 950.9 kB/s eta 0:00:01
     -------------------------------------  634.9/636.8 kB 3.1 MB/s eta 0:00:01
     -------------------------------------- 636.8/636.8 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: nltk>=3.1 in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from nltk>=3.1->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from nltk>=3.1->textblob) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from nltk>=3.1->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from nltk>=3.1->textblob) (4.66.1)
Requirement already satisfied: colorama in c:\users\zipa669\miniconda3\envs\npl\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.6)
Installing collected packages: textblob
Successfully installed textblob-0.17.1

In [9]:
import pandas as pd



csv_files = [
    '../Examples_from_class/csv_files/1. King_James_bible.csv',
    '../Examples_from_class/csv_files/2. English-Quran-plain-text.csv',
    '../Examples_from_class/csv_files/3. Bhagavad_Gita.csv',
    '../Examples_from_class/csv_files/4. Tipitaka.csv',
    '../Examples_from_class/csv_files/5. Complete Jewish Bible.csv',
   
]


first_five = pd.DataFrame()


for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    first_five = pd.concat([first_five, df], ignore_index=True)

first_five.head()

                                     Lemmatized_Text
0  book genesis in the begin god create the heave...
1  the holy quran koran english translation of th...
2  be discourse between arjunaprince of india and...
3  suttanta pitaka digha nikaya long discourse of...
4  an english version of the tanakh old testament...

In [10]:
csv_files = [
      '../Examples_from_class/csv_files/6. Writings_of_Bahaullah.csv',
    '../Examples_from_class/csv_files/8. tao_te_ching.csv',
    '../Examples_from_class/csv_files/9. Kojiki_Japan_.csv'

]

seconde_five = pd.DataFrame()

for csv_file in csv_files:
    df = pd.read_csv(csv_file)
    seconde_five = pd.concat([seconde_five, df], ignore_index=True)

seconde_five.head()

                                     Lemmatized_Text
0  select mystical work of bahá’u’lláh “at one ti...
1  terebess asia online tao index home the tao te...
2  the kojiki translate by basil hall chamberlain...

In [13]:


from textblob import TextBlob

# function to calculate subjectivity
def getSubjectivity(review):
    return TextBlob(review).sentiment.subjectivity

# function to calculate polarity
def getPolarity(review):
    return TextBlob(review).sentiment.polarity

# function to analyze the reviews
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'
    
first_five['Polarity'] = first_five['Lemmatized_Text'].apply(getPolarity)
first_five['Analysis'] = first_five['Polarity'].apply(analysis)
first_five.head()    

#This function is from Mayra

                                     Lemmatized_Text  Polarity  Analysis
0  book genesis in the begin god create the heave...  0.112647  Positive
1  the holy quran koran english translation of th...  0.072702  Positive
2  be discourse between arjunaprince of india and...  0.152895  Positive
3  suttanta pitaka digha nikaya long discourse of...  0.113795  Positive
4  an english version of the tanakh old testament...  0.089615  Positive

In [14]:

from textblob import TextBlob

# function to calculate subjectivity
def getSubjectivity(review):
    return TextBlob(review).sentiment.subjectivity

# function to calculate polarity
def getPolarity(review):
    return TextBlob(review).sentiment.polarity

# function to analyze the reviews
def analysis(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'
    
seconde_five['Polarity'] = seconde_five['Lemmatized_Text'].apply(getPolarity)
seconde_five['Analysis'] = seconde_five['Polarity'].apply(analysis)
seconde_five.head()

                                     Lemmatized_Text  Polarity  Analysis
0  select mystical work of bahá’u’lláh “at one ti...  0.171853  Positive
1  terebess asia online tao index home the tao te...  0.136145  Positive
2  the kojiki translate by basil hall chamberlain...  0.100401  Positive